.containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containers .career-inner {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 75%;
}

.containers .career-inner .article {
  padding-bottom: 50px;
  padding-top: 50px;
}

.containers .career-inner .article .title {
  font-family: Nunito;
  line-height: normal;
  font-size: 22px;
  color: #1B264B;
}

.containers .career-inner .article .subtitle {
  font-family: Nunito;
  font-weight: 300;
  font-size: 16px;
  color: #797979;
}

.containers .career-inner .career-flex-tab .left {
  background: #F7F8FA;
  min-height: 300px;
  padding: 3% !important;
}

.containers .career-inner .career-flex-tab .left .title {
  font-family: Nunito;
  font-weight: 600;
  line-height: normal;
  font-size: 22px;
  text-align: center;
  color: #797979;
}

.containers .career-inner .career-flex-tab .left .dash {
  background: #1B264B;
  min-width: 60px;
  min-height: 0.961938px;
  margin-bottom: 20px;
}

.containers .career-inner .career-flex-tab .left .list-group .list-group-item {
  border: none;
  background: transparent;
}

.containers .career-inner .career-flex-tab .left .list-group .active {
  font-family: Nunito;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  color: #1B264B;
}

.containers .career-inner .career-flex-tab .right .article {
  padding-bottom: 0px;
  padding-top: 0px;
}

.containers .blog-inner {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 86%;
}

.containers .blog-inner .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.containers .blog-inner .flex-container > div {
  color: white;
  width: 250px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.containers .blog-inner .flex-container .blog-body {
  min-width: 600px;
}

.containers .blog-inner .flex-container .blog-body .media-heading {
  font-family: Nunito;
  font-weight: 600;
  line-height: normal;
  font-size: 24px;
  text-align: justify;
  color: #797979;
}

.containers .blog-inner .flex-container .blog-body .media-text {
  font-family: Nunito;
  font-weight: 600;
  line-height: normal;
  font-size: 16px;
  text-align: justify;
  color: #797979;
}

.containers .blog-inner .flex-container .blog-body .date {
  margin-top: 40px;
  font-style: normal;
  line-height: normal;
  font-size: 18px;
  text-align: justify;
  color: #797979;
  position: relative;
  bottom: 0;
}

.containers .about-inner {
  width: 93%;
  padding: 50px 0px;
}

.containers .about-inner .title {
  font-family: Nunito;
  font-weight: bold;
  line-height: 37px;
  font-size: 24px;
  color: #878787;
  margin-bottom: 20px;
}

.containers .about-inner .body {
  font-family: Nunito;
  line-height: 37px;
  font-size: 16px;
  color: #878787;
  margin-bottom: 30px;
}

.containers .about-inner .header .body {
  width: 80%;
}

.containers .about-inner .icon {
  min-width: 55px;
  max-width: 55px;
  min-height: 55px;
  max-height: 55px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.containers .about-inner .icon i {
  font-size: 28px;
  color: #FFFFFF;
}

.containers .about-inner .left-icon {
  background-color: #FF6663;
}

.containers .about-inner .right-icon {
  background-color: #8AC541;
}

.containers .about-inner .top {
  font-family: Nunito;
  font-size: 15.9519px;
  color: #878787;
  margin-bottom: 0px;
}

.containers .about-inner .bottom {
  font-family: Nunito;
  font-size: 22.5px;
  color: #878787;
  margin-bottom: 0px;
}

.containers .about-inner .lower {
  font-family: Nunito;
  font-size: 13.673px;
  color: #878787;
  margin-top: 13px;
  width: 35%;
}

.containers .faq-inner {
  width: 100%;
}

.containers .faq-inner .faq-flex-tab .left {
  background: #FFFFFF !important;
  min-height: 300px;
  padding: 3% !important;
  padding-right: 8% !important;
}

.containers .faq-inner .faq-flex-tab .left .list-group {
  border-radius: 0px;
}

.containers .faq-inner .faq-flex-tab .left .list-group .list-group-item {
  border: none;
  border-bottom: 1px solid #878787;
  background: transparent;
  font-family: Nunito;
  line-height: normal;
  font-size: 18px;
  color: #878787;
}

.containers .faq-inner .faq-flex-tab .left .list-group .active {
  font-family: Nunito;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  color: #878787;
  border: none;
  border-bottom: 2px solid #878787;
  background: transparent;
}

.containers .faq-inner .faq-flex-tab .left .list-group .list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.containers .faq-inner .faq-flex-tab .right .article {
  padding-bottom: 0px;
  padding-top: 0px;
}

.containers .api-inner {
  width: 100%;
  margin-top: 50px;
}

.containers .api-inner .api-flex-tab .left {
  background: #FFFFFF !important;
  min-height: 300px;
  padding-left: 3% !important;
  padding-right: 3% !important;
}

.containers .api-inner .api-flex-tab .left .title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  color: #878787;
}

.containers .api-inner .api-flex-tab .left .list-group {
  border-radius: 0px;
}

.containers .api-inner .api-flex-tab .left .list-group .list-group-item {
  border: none;
  background: #F7F8FA;
  border-radius: 0px;
  font-family: Nunito;
  line-height: normal;
  font-size: 18px;
  color: #878787;
  padding-top: 20px;
  padding-bottom: 20px;
}

.containers .api-inner .api-flex-tab .left .list-group .active {
  font-family: Nunito;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  border-radius: 0px;
  color: #FFFFFF;
  border: none;
  background: #1B264B;
}

.containers .api-inner .api-flex-tab .left .list-group .list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.containers .api-inner .api-flex-tab .right p {
  font-family: Nunito;
  font-style: normal;
  letter-spacing: 1px;
  color: #878787;
}

.containers .api-inner .api-flex-tab .right .title {
  font-weight: bold;
  line-height: normal;
  font-size: 36px;
}

.containers .api-inner .api-flex-tab .right .body {
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
}

.w-100 {
  width: 100%;
}

.px-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@media (max-width: 768px) {
  .containers .flex-container {
    display: block !important;
  }

  .containers .flex-container .image-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .containers .flex-container .blog-body {
    min-width: 250px !important;
    width: 95% !important;
  }
}

@media (max-width: 991px) {
  .containers .career-inner {
    width: 85%;
  }

  .containers .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .containers .flex-container > div {
    color: white;
    width: 250px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .containers .flex-container .blog-body {
    min-width: 600px;
    padding: 5% 0%;
  }

  .containers .flex-container .blog-body .media-heading {
    font-family: Nunito;
    font-weight: 600;
    line-height: normal;
    font-size: 24px;
    text-align: justify;
    color: #797979;
  }

  .containers .flex-container .blog-body .media-text {
    font-family: Nunito;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;
    text-align: justify;
    color: #797979;
  }

  .containers .flex-container .blog-body .date {
    margin-top: 40px;
    font-style: normal;
    line-height: normal;
    font-size: 18px;
    text-align: justify;
    color: #797979;
    position: relative;
    bottom: 0;
  }
}

/* Medium devices (tablets, 768px and up) */

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
  .flex-container .blog-body {
    padding: 3% 0%;
  }
}

/* Extra large devices (large desktops, 1600px and up) */

