body{
    height: fit-content;
}

.d-flex{
  display: flex;
}

.justify-content-center{
  justify-content: center;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-around{
  justify-content: space-around;
}
.align-items-center {
  align-items: center;
}

.sm-hide {
  display: none;
}
.lg-hide {
  display: block;
}
/* landing page */
/* Jumbotron  */
.jumbotron {
    height: 1263px;
    background-size: cover;
    background-color: #FFFFFF!important;
    background-image: url('../images/landing/hero.svg');
    margin-bottom: 0px!important;
}

/* Jumbotron End */

/* about container */

.about {
  display: flex;
  width: 93%;
}

.about .left,
.about .right {
  width: 100%;
}

.about .right img {
  margin-top: -30%;
  width:100%;
}
.title{
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 24px;
  color: #656262;
  margin-bottom: 5px;
}

.about .subtitle{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  line-height: 37px;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #656262;
}



/* about container end */


/* Security container */


.transactions{
    margin-top: 139px;
}

.myimage{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.notch{
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 36px;
  letter-spacing: 0.1em;
  color: #656262;
  text-align: center;
}



.ssl-text{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #656262;
}

.ssl-text-head{
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size:24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #656262;
}


/* Security container end */

/* referral */

.appicons {
  -webkit-align-self: center !important; /* Safari 7.0+ */
  align: center !important;
}

.refer{
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 36px;
  color: #656262;
  float: right;
}

.refer h3{
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 24px;
  color: #656262;
  float: right;
}

.refer-text{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  line-height: 37px;
  font-size: 16px;
  letter-spacing: 0.02em;
  width: 100%;
  color: #656262;
  float: right;
}

/* referral end */

/* count */

.count{
  background: url(../images/stats-background.svg);
  min-height: 180px;
  background-size: cover;
  align-items: center;
  margin: 5% 0;
  /* line-height: 200px; */

}


/* count end */


/* join */
.groupbuttons{
  padding: 8px 20px !important;

}


/* join */
.join{
    min-height: 185px;
    height: 100%;
    background: #FAFAFA;
    /* padding: 34px 0px; */
    align-items: center;

}
.join .us{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 24px;
    color: #656262;
    padding-top: 15px;
}

.join .text{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #656262;
}
.join .btn-purple, .join .btn-white{
    height: 41px;
    width: 176px;
}

.join .button-group{
    /* float: right !important; */
    margin-top: 37px;
    /* margin-right: 0px; */
}

.join .button-group .login{
    margin-left: -8px!important;
}
/* join end */

.join .button-group .login{
    margin-left: -8px!important;
}
/* groupbutton */

/*  */

.buy-cash{
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 20px;
  color: #656262;
}

/*  */
.header-brand{
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 38px !important;
    letter-spacing: 0.02em;
    color: #FFFFFF !important;
    line-height: 53px !important;
    padding-left: 0px!important
}
.navbar {
    min-height: 87px !important;
}

.header-links{
    height: 23px;
    top: 71px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    color: #FFFFFF !important;
    margin-top: 16px !important;
    margin-right: 12px !important;
}
.navbar-default .navbar-nav>li>a{
    color: #FFFFFF !important;
}

.header-bg{
    background-color: transparent;
    border-color: #1B264B;
    border-radius: 0px !important;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.header-bg .w-93 {
  width: 93%;
}
.w-93 {
  width: 93%;
}

.pr-0{
  padding-right: 0px;
}
.pl-0{
  padding-left: 0px;
}
.px-0{
  padding-left: 0px;
  padding-right: 0px;
}

.security .pr-0{
  padding-right: 0px!important;
}
.security .pl-0{
  padding-left: 0px!important;
}
.security .px-0{
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.landing-buy{
    margin-top: 15%;
    display: flex;
    justify-content: center;
}

.landing-buy .w-93 {
    width: 93%;
}

.landing-buy span{
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    line-height: 102px;
    font-size: 50px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.landing-buy h6{
    /* width: 705px; */
    width: 50%;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    line-height: 74px;
    font-size: 36px;
    letter-spacing:  0.02em;
    color: #FFFFFF;
    margin-bottom: 70px;

}

.text-color{
    color: #ffffff !important;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: underline!important;
    background-color: transparent!important;
}

.nav li btn:focus, .nav li .btn:hover {
    text-decoration: none!important;
    background-color: #1B264B!important;
    border: 1px solid #1B264B!important;
    color: #FFFFFF!important;
}

.nav li .btn {
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}

footer{
    background-color: #1B264B;
    color: #ffffff !important;
}
.footer-margin{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 75px;
}

.footer-h5{
    line-height: 35px;
}
.footer-list{
    list-style: none;
}

.foot{
    margin-bottom: 23px;
}

.button-sign{
    width: 164px;
    height: 45px;
    color: black !important;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 3px !important;
    line-height: 22px !important;
}
.footer-list h6{
    line-height: 24px;
}

.footer-list router-link{
    line-height: 24px;
}

nav{
    margin-bottom: 0px !important;
}
.button-group{

    margin-top: 12px;
    margin-right: 0px;
}

.btn-purple{
    border-radius: 0px;
    background-color: #6C63FF;
    width: 217px;
    color: #ffffff;
    border: 2px solid #6C63FF!important;
    margin-right: 0px!important
}

.btn-white{
    background-color: #ffffff;
    width: 217px;
    color: #6C63FF;
    border: 2px solid #6C63FF!important;
    border-radius: 0px;
    margin-left: 0px!important
}

.btn-purple:hover{
  background-color: #ffffff;
  color: #6C63FF!important;
  border: 2px solid #6C63FF!important;
}

.btn-white:hover{
  background-color: #6C63FF;
  color: #ffffff!important;
  border: 2px solid #6C63FF!important;
}

.btn-nig {
    width: 164px;
    background-color: #ffffff;
    border: 1px #ffffff;
    width: 217px;
    color: #6C63FF;
    border: 1px solid !important;
    border-radius: 0px !important;
}

/* responsive navabar */
.navbar-toggle {
    border: 1px solid #fff !important;
    margin-top: 25px !important;
}

.navbar-toggle .icon-bar {
    background-color: #fff !important;
}

  .sidenav {
    width: 220px;
    opacity: 0.95;
    max-height: 100vh;
    min-height: 100vh;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 45px;
  }

  .sidenav a {
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }




/* @media (min-width: 768px){
  .sidenav {
      display: none;
  }

} */


@media (max-width: 769px){
  .navbar-toggle {
      display: block!important;
  }
  .collapse, .navbar-nav, .header-links, .navbar-collapse {
    display: none!important;
  }

    .ico-bg{
        width: auto !important;
        margin-left: auto !important;
    }
    .sm-left{
      float: left;
    }
    .about {
      display: block;
    }
    .about .right img {
      margin-top: 1%;
      width:100%;

    }
    .title{
      font-size: 24px;
      margin-bottom: 12px;
      text-align: center;
    }
    .about .subtitle{
      line-height: normal;
      font-size: 16px;
      text-align: justify;
    }

    .landing-buy span{
        line-height: normal!important;
        font-size: 24px!important;
    }
    .landing-buy h6{
      width: 100%!important;
      line-height: 24px!important;
      font-size: 14px!important;
      margin-bottom: 70px;
      text-align: justify;
    }
    .jumbotron {
      height: 100%!important;
    }

    .transactions{
      margin-top: 19px;
    }

    .myimage{
      display:block;
      margin-left: auto;
      margin-right: auto;
    }
    .notch{
      font-size: 24px;
      letter-spacing: 0.2em;
      text-align: center;
      margin-top: 10%;
    }
    .security .pr-0{
      padding-right: 15px!important;
    }
    .security .pl-0{
      padding-left: 15px!important;
    }
    .security .px-0{
      padding-left: 0px!important;
      padding-right: 0px!important;
    }


    .ssl-text{
      text-align: justify;
      font-size: 16px;
      letter-spacing: 0em;
      color: #656262;
    }
    .refer h3{
      font-size: 24px;
      float: left;
      text-align: center!important;
      width: 100%;
    }

    .refer-text{
      text-align: justify;
      letter-spacing: 0.0em;
      line-height: 24px;
      font-size: 16px;
      float: left;
    }

    .count{
      background: url(../images/stats-background.svg) repeat;
    }


    .join .button-group .signup,
    .join .button-group .login{
        width: 100%;
        float: left!important;
    }

    .join .button-group .login{
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 0px!important;
    }

    .join .us{
        font-size: 24px;
        text-align: center!important;
        width: 100%;
    }

    .join .text{
        line-height: 22px;
        font-size: 16px;
        text-align: justify;
    }

    .sm-hide {
      display: block;
    }
    .sm-block {
      display: block;
    }

    .sm-block .child .button-group {
      width: 100%;
      /* background: yellow; */
    }

    .sm-block .child .button-group button {
      width: 100%;
      /* background: yellow; */
    }

    .lg-hide {
      display: none;
    }
}

/* responsive */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .ico-bg{
      width: auto !important;
      margin-left: auto !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .ico-bg{
      width: auto !important;
      margin-left: auto !important;
  }
}

@media only screen
  and (min-width:481px)
  and (max-width: 991px) {
      .navbar-toggle {
          display: block!important;
      }
      .collapse, .navbar-nav, .header-links, .navbar-collapse {
        display: none!important;
      }
      .sidenav {
          display: block;
      }

  }
@media (min-width: 992px){
  .sidenav {
      display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1199.98px) {

  .join .button-group .login{
      margin-left: 0px!important;
      margin-top: 15px!important;
  }
  .join .button-group, .join .button-group .btn {
    width: 100%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* .sidenav {
      display: none;
  } */
}

/* Extra large devices (large desktops, 1600px and up) */
@media (min-width: 2000px)  and (max-width: 2399.99px) {

  .jumbotron {
      min-height: 2000px;
      min-width: 100vw!important;
      background-size: cover;
      background-color: #FFFFFF!important;
      background-image: url('../images/landing/hero.svg');
      background-repeat: no-repeat;
      margin-bottom: 0px!important;
  }

}
@media (min-width: 2400px) {
  /* .sidenav {
      display: none;
  } */
  .jumbotron {
      min-height: 2300px;
      min-width: 100vw!important;
      background-size: contain;
      background-color: #FFFFFF!important;
      background-image: url('../images/landing/hero.svg');
      background-repeat: no-repeat;
      margin-bottom: 0px!important;
  }

}
